.courses {
  h1{
    font-family: "ubuntu", sans-serif;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    padding: 40px 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: auto;
    padding-bottom: 10px;
  }

  &__left {
    img {
      cursor: pointer;
      border-radius: 60px;
    }
  }

  &__right {
    width: 590px;
    height: 633px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

  &__carts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    cursor: pointer;
    h2 {
      width: 285px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    p {
      width: 285px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #000000;
    }

    button {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      cursor: pointer;
  
        :hover{
          text-decoration: underline;
        }

      a {
        font-family: "ubuntu", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: #3dcbb1;
      }
    }
  }
}
