.design {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 120px auto;
    h2 {
      font-family: "Ubuntu", sans-serif;
      font-size: 36px;
      line-height: 44px;
      color: #000000;
      margin-bottom: 40px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title a {
    width: 77px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 35px 0;
  }

  &__carts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    cursor: pointer;
    h3 {
      width: 285px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }

    p {
      width: 285px;
      height: 54px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: rgba(27, 27, 27, 0.9);
      flex: none;
      order: 3;
      align-self: center;
      flex-grow: 0;
    }

    button {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      font-family: "Ubuntu", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      cursor: pointer;

      a {
        font-family: "ubuntu", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: #3dcbb1;
      }
    }
  }
}
