.get {
  &__container {
    width: 100%;
    height: 171px;
    background: #ffec8a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: auto;

    h1 {
      font-family: "ubuntu", sans-serif;
      align-items: center;
      font-size: 20px;
      line-height: 26px;
      color: #000000;
    }

    button {
      width: 124px;
      height: 41px;
      border: 1px solid rgba(27, 27, 27, 0.6);
      border-radius: 14px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: rgba(27, 27, 27, 0.6);
      background-color: transparent;
      cursor: pointer;

      :hover {
        background-color: rgba(27, 27, 27, 0.1);
      }
    }
  }
}
