.intro {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/image\ 1.png);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    width: 100%;
    height: 660px;
    z-index: -1;
  }

  &__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
  }

  &__title h1 {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    color: #ffffff;
  }

  &__title h4 {
    font-family: "Ubuntu" sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: rgba(249, 249, 249, 0.9);
  }
}
