.join {
  &__container {
    width: 1200px;
    height: 307px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background: #010a22;
    border-radius: 12px;
  }

  &__left {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
    padding: 60px 0 0 60px;
    box-sizing: border-box;
    color: #ffffff;
    h2 {
      font-family: "ubuntu";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      color: #ffffff;
    }

    p {
      width: 830px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      color: rgba(255, 255, 255, 0.6);
    }

    button {
      width: 109px;
      height: 40px;
      border: none;
      background: #3dcbb1;
      border-radius: 3px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
    }


  }

  &__right{
    img{
        width: 100%;
        height: 100%;
        border-radius: 0 12px 12px 0;
    }
  }
}
