.nav {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1440px;
    height: 60px;
  }

  &__button {
    display: flex;
    gap: 20px;
    align-items: center;
    p {
      width: 134px;
      font-family: "ubuntu", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;

      color: #1b1b1b;
    }
  }

  &__input_box {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    width: 440px;
    height: 40px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    border: none;
  }

  &__input {
    width: 400px;
    height: 40px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0 16px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    border: none;
    &::placeholder {
      color: #999999;
    }
  }

  &_login {
    font-family: "Ubuntu";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    border: 1px solid rgba(27, 27, 27, 0.9);
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &_signup {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    cursor: pointer;
    border: none;
    background: #3dcbb1;
    border-radius: 12px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__dropdown {
    position: relative;
    display: inline-block;

    &:hover .nav__menu,
    &:focus-within .nav__menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__profile img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    top: 50px;
    right: 0;
    width: 260px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    padding: 16px 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.25s ease;
    z-index: 9999;
  }

  &__user {
    padding: 0 18px 12px;
    border-bottom: 1px solid #eee;
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__email {
    font-size: 12px;
    color: #777;
  }

  &__links {
    list-style: none;
    margin: 12px 0;
    padding: 0;

    li {
      padding: 10px 18px;
      font-size: 14px;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: #f5f5f5;
      }
    }
  }

  &__logout {
    padding: 12px 18px 0;
    color: #ff4d4f;
    font-weight: 600;
    cursor: pointer;
  }
}
