.filter {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
    margin: auto;
  }
  &__sidebar {
    width: 285px;
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 590px;
    margin-left: 100px;

    h3 {
      margin-bottom: 15px;
    }

    .filter-block {
      margin-bottom: 20px;

      h4 {
        margin-bottom: 10px;
        font-size: 14px;
      }

      label {
        display: block;
        font-size: 13px;
        margin-bottom: 6px;

        input {
          margin-right: 8px;
        }
      }
    }
  }

  &__clear {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-family: "ubuntu";
      font-size: 16px;
      line-height: 21px;
      color: #000000;
    }
    a {
      font-family: "ubuntu";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #3dcbb1;
    }
  }

  &__carts {
    width: 895px;
    height: 1290px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__join {
    margin: 90px auto;
  }
}
